<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.membre.home.createOrEditLabel"
          data-cy="MembreCreateUpdateHeading"
          v-text="$t('blogApp.membre.home.createOrEditLabel')"
        >
          Create or edit a Membre
        </h2>
        <div>
          <div class="form-group" v-if="membre.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="membre.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.membre.nom')" for="membre-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="membre-nom"
              data-cy="nom"
              :class="{ valid: !$v.membre.nom.$invalid, invalid: $v.membre.nom.$invalid }"
              v-model="$v.membre.nom.$model"
              required
            />
            <div v-if="$v.membre.nom.$anyDirty && $v.membre.nom.$invalid">
              <small class="form-text text-danger" v-if="!$v.membre.nom.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.membre.prenom')" for="membre-prenom">Prenom</label>
            <input
              type="text"
              class="form-control"
              name="prenom"
              id="membre-prenom"
              data-cy="prenom"
              :class="{ valid: !$v.membre.prenom.$invalid, invalid: $v.membre.prenom.$invalid }"
              v-model="$v.membre.prenom.$model"
              required
            />
            <div v-if="$v.membre.prenom.$anyDirty && $v.membre.prenom.$invalid">
              <small class="form-text text-danger" v-if="!$v.membre.prenom.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.membre.type')" for="membre-type">Type</label>
            <select
              class="form-control"
              name="type"
              :class="{ valid: !$v.membre.type.$invalid, invalid: $v.membre.type.$invalid }"
              v-model="$v.membre.type.$model"
              id="membre-type"
              data-cy="type"
              required
            >
              <option
                v-for="membreType in membreTypeValues"
                :key="membreType"
                v-bind:value="membreType"
                v-bind:label="$t('blogApp.MembreType.' + membreType)"
              >
                {{ membreType }}
              </option>
            </select>
            <div v-if="$v.membre.type.$anyDirty && $v.membre.type.$invalid">
              <small class="form-text text-danger" v-if="!$v.membre.type.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.membre.adresse')" for="membre-adresse">Adresse</label>
            <input
              type="text"
              class="form-control"
              name="adresse"
              id="membre-adresse"
              data-cy="adresse"
              :class="{ valid: !$v.membre.adresse.$invalid, invalid: $v.membre.adresse.$invalid }"
              v-model="$v.membre.adresse.$model"
              required
            />
            <div v-if="$v.membre.adresse.$anyDirty && $v.membre.adresse.$invalid">
              <small class="form-text text-danger" v-if="!$v.membre.adresse.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.membre.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./membre-update.component.ts"></script>
