<template>
  <div>
    <h2 id="page-heading" data-cy="MembreHeading">
      <span v-text="$t('blogApp.membre.home.title')" id="membre-heading">Membres</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('blogApp.membre.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'MembreCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-membre"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('blogApp.membre.home.createLabel')"> Create a new Membre </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && membres && membres.length === 0">
      <span v-text="$t('blogApp.membre.home.notFound')">No membres found</span>
    </div>
    <div class="table-responsive" v-if="membres && membres.length > 0">
      <table class="table table-striped" aria-describedby="membres">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('nom')">
              <span v-text="$t('blogApp.membre.nom')">Nom</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('prenom')">
              <span v-text="$t('blogApp.membre.prenom')">Prenom</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'prenom'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('type')">
              <span v-text="$t('blogApp.membre.type')">Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'type'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('adresse')">
              <span v-text="$t('blogApp.membre.adresse')">Adresse</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'adresse'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="membre in membres" :key="membre.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'MembreView', params: { membreId: membre.id } }">{{ membre.id }}</router-link>
            </td>
            <td>{{ membre.nom }}</td>
            <td>{{ membre.prenom }}</td>
            <td v-text="$t('blogApp.MembreType.' + membre.type)">{{ membre.type }}</td>
            <td>{{ membre.adresse }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'MembreView', params: { membreId: membre.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'MembreEdit', params: { membreId: membre.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(membre)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="blogApp.membre.delete.question" data-cy="membreDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-membre-heading" v-text="$t('blogApp.membre.delete.question', { id: removeId })">
          Are you sure you want to delete this Membre?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-membre"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeMembre()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="membres && membres.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./membre.component.ts"></script>
