<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="membre">
        <h2 class="jh-entity-heading" data-cy="membreDetailsHeading">
          <span v-text="$t('blogApp.membre.detail.title')">Membre</span> {{ membre.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.membre.nom')">Nom</span>
          </dt>
          <dd>
            <span>{{ membre.nom }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.membre.prenom')">Prenom</span>
          </dt>
          <dd>
            <span>{{ membre.prenom }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.membre.type')">Type</span>
          </dt>
          <dd>
            <span v-text="$t('blogApp.MembreType.' + membre.type)">{{ membre.type }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.membre.adresse')">Adresse</span>
          </dt>
          <dd>
            <span>{{ membre.adresse }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="membre.id" :to="{ name: 'MembreEdit', params: { membreId: membre.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./membre-details.component.ts"></script>
