<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.livraison.home.createOrEditLabel"
          data-cy="LivraisonCreateUpdateHeading"
          v-text="$t('blogApp.livraison.home.createOrEditLabel')"
        >
          Create or edit a Livraison
        </h2>
        <div>
          <div class="form-group" v-if="livraison.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="livraison.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.livraison.panier')" for="livraison-panier">Panier</label>
            <select class="form-control" id="livraison-panier" data-cy="panier" name="panier" v-model="livraison.panier">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="livraison.panier && panierOption.id === livraison.panier.id ? livraison.panier : panierOption"
                v-for="panierOption in paniers"
                :key="panierOption.id"
              >
                {{ panierOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.livraison.livraisonMan')" for="livraison-livraisonMan"
              >Livraison Man</label
            >
            <select
              class="form-control"
              id="livraison-livraisonMan"
              data-cy="livraisonMan"
              name="livraisonMan"
              v-model="livraison.livraisonMan"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  livraison.livraisonMan && membreOption.id === livraison.livraisonMan.id ? livraison.livraisonMan : membreOption
                "
                v-for="membreOption in membres"
                :key="membreOption.id"
              >
                {{ membreOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.livraison.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./livraison-update.component.ts"></script>
