<template>
  <div>
    <h2 id="page-heading" data-cy="ElementPanierHeading">
      <span v-text="$t('blogApp.elementPanier.home.title')" id="element-panier-heading">Element Paniers</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('blogApp.elementPanier.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ElementPanierCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-element-panier"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('blogApp.elementPanier.home.createLabel')"> Create a new Element Panier </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && elementPaniers && elementPaniers.length === 0">
      <span v-text="$t('blogApp.elementPanier.home.notFound')">No elementPaniers found</span>
    </div>
    <div class="table-responsive" v-if="elementPaniers && elementPaniers.length > 0">
      <table class="table table-striped" aria-describedby="elementPaniers">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('nom')">
              <span v-text="$t('blogApp.elementPanier.nom')">Nom</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('prix')">
              <span v-text="$t('blogApp.elementPanier.prix')">Prix</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'prix'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('quantity')">
              <span v-text="$t('blogApp.elementPanier.quantity')">Quantity</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'quantity'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('panier.id')">
              <span v-text="$t('blogApp.elementPanier.panier')">Panier</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'panier.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="elementPanier in elementPaniers" :key="elementPanier.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ElementPanierView', params: { elementPanierId: elementPanier.id } }">{{
                elementPanier.id
              }}</router-link>
            </td>
            <td>{{ elementPanier.nom }}</td>
            <td>{{ elementPanier.prix }}</td>
            <td>{{ elementPanier.quantity }}</td>
            <td>
              <div v-if="elementPanier.panier">
                <router-link :to="{ name: 'PanierView', params: { panierId: elementPanier.panier.id } }">{{
                  elementPanier.panier.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ElementPanierView', params: { elementPanierId: elementPanier.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'ElementPanierEdit', params: { elementPanierId: elementPanier.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(elementPanier)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="blogApp.elementPanier.delete.question" data-cy="elementPanierDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-elementPanier-heading" v-text="$t('blogApp.elementPanier.delete.question', { id: removeId })">
          Are you sure you want to delete this Element Panier?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-elementPanier"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeElementPanier()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="elementPaniers && elementPaniers.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./element-panier.component.ts"></script>
