<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.elementPanier.home.createOrEditLabel"
          data-cy="ElementPanierCreateUpdateHeading"
          v-text="$t('blogApp.elementPanier.home.createOrEditLabel')"
        >
          Create or edit a ElementPanier
        </h2>
        <div>
          <div class="form-group" v-if="elementPanier.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="elementPanier.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.elementPanier.nom')" for="element-panier-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="element-panier-nom"
              data-cy="nom"
              :class="{ valid: !$v.elementPanier.nom.$invalid, invalid: $v.elementPanier.nom.$invalid }"
              v-model="$v.elementPanier.nom.$model"
              required
            />
            <div v-if="$v.elementPanier.nom.$anyDirty && $v.elementPanier.nom.$invalid">
              <small class="form-text text-danger" v-if="!$v.elementPanier.nom.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.elementPanier.prix')" for="element-panier-prix">Prix</label>
            <input
              type="number"
              class="form-control"
              name="prix"
              id="element-panier-prix"
              data-cy="prix"
              :class="{ valid: !$v.elementPanier.prix.$invalid, invalid: $v.elementPanier.prix.$invalid }"
              v-model.number="$v.elementPanier.prix.$model"
              required
            />
            <div v-if="$v.elementPanier.prix.$anyDirty && $v.elementPanier.prix.$invalid">
              <small class="form-text text-danger" v-if="!$v.elementPanier.prix.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.elementPanier.prix.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.elementPanier.quantity')" for="element-panier-quantity">Quantity</label>
            <input
              type="number"
              class="form-control"
              name="quantity"
              id="element-panier-quantity"
              data-cy="quantity"
              :class="{ valid: !$v.elementPanier.quantity.$invalid, invalid: $v.elementPanier.quantity.$invalid }"
              v-model.number="$v.elementPanier.quantity.$model"
              required
            />
            <div v-if="$v.elementPanier.quantity.$anyDirty && $v.elementPanier.quantity.$invalid">
              <small class="form-text text-danger" v-if="!$v.elementPanier.quantity.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.elementPanier.quantity.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.elementPanier.panier')" for="element-panier-panier">Panier</label>
            <select class="form-control" id="element-panier-panier" data-cy="panier" name="panier" v-model="elementPanier.panier">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="elementPanier.panier && panierOption.id === elementPanier.panier.id ? elementPanier.panier : panierOption"
                v-for="panierOption in paniers"
                :key="panierOption.id"
              >
                {{ panierOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.elementPanier.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./element-panier-update.component.ts"></script>
