<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="elementPanier">
        <h2 class="jh-entity-heading" data-cy="elementPanierDetailsHeading">
          <span v-text="$t('blogApp.elementPanier.detail.title')">ElementPanier</span> {{ elementPanier.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.elementPanier.nom')">Nom</span>
          </dt>
          <dd>
            <span>{{ elementPanier.nom }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.elementPanier.prix')">Prix</span>
          </dt>
          <dd>
            <span>{{ elementPanier.prix }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.elementPanier.quantity')">Quantity</span>
          </dt>
          <dd>
            <span>{{ elementPanier.quantity }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.elementPanier.panier')">Panier</span>
          </dt>
          <dd>
            <div v-if="elementPanier.panier">
              <router-link :to="{ name: 'PanierView', params: { panierId: elementPanier.panier.id } }">{{
                elementPanier.panier.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="elementPanier.id"
          :to="{ name: 'ElementPanierEdit', params: { elementPanierId: elementPanier.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./element-panier-details.component.ts"></script>
