<template>
  <div>
    <b-dropdown-item to="/cooperative">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.cooperative')">Cooperative</span>
    </b-dropdown-item>
    <b-dropdown-item to="/membre">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.membre')">Membre</span>
    </b-dropdown-item>
    <b-dropdown-item to="/cooperative-local">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.cooperativeLocal')">Cooperative Local</span>
    </b-dropdown-item>
    <b-dropdown-item to="/restaurant">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.restaurant')">Restaurant</span>
    </b-dropdown-item>
    <b-dropdown-item to="/panier">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.panier')">Panier</span>
    </b-dropdown-item>
    <b-dropdown-item to="/element-panier">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.elementPanier')">Element Panier</span>
    </b-dropdown-item>
    <b-dropdown-item to="/paiement">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.paiement')">Paiement</span>
    </b-dropdown-item>
    <b-dropdown-item to="/livraison">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.livraison')">Livraison</span>
    </b-dropdown-item>
    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
  </div>
</template>

<script lang="ts" src="./entities-menu.component.ts"></script>
