<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.paiement.home.createOrEditLabel"
          data-cy="PaiementCreateUpdateHeading"
          v-text="$t('blogApp.paiement.home.createOrEditLabel')"
        >
          Create or edit a Paiement
        </h2>
        <div>
          <div class="form-group" v-if="paiement.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="paiement.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.paiement.type')" for="paiement-type">Type</label>
            <select
              class="form-control"
              name="type"
              :class="{ valid: !$v.paiement.type.$invalid, invalid: $v.paiement.type.$invalid }"
              v-model="$v.paiement.type.$model"
              id="paiement-type"
              data-cy="type"
              required
            >
              <option
                v-for="typePaiement in typePaiementValues"
                :key="typePaiement"
                v-bind:value="typePaiement"
                v-bind:label="$t('blogApp.TypePaiement.' + typePaiement)"
              >
                {{ typePaiement }}
              </option>
            </select>
            <div v-if="$v.paiement.type.$anyDirty && $v.paiement.type.$invalid">
              <small class="form-text text-danger" v-if="!$v.paiement.type.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.paiement.quantite')" for="paiement-quantite">Quantite</label>
            <input
              type="number"
              class="form-control"
              name="quantite"
              id="paiement-quantite"
              data-cy="quantite"
              :class="{ valid: !$v.paiement.quantite.$invalid, invalid: $v.paiement.quantite.$invalid }"
              v-model.number="$v.paiement.quantite.$model"
              required
            />
            <div v-if="$v.paiement.quantite.$anyDirty && $v.paiement.quantite.$invalid">
              <small class="form-text text-danger" v-if="!$v.paiement.quantite.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.paiement.quantite.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.paiement.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./paiement-update.component.ts"></script>
