<template>
  <div>
    <h2 id="page-heading" data-cy="PaiementHeading">
      <span v-text="$t('blogApp.paiement.home.title')" id="paiement-heading">Paiements</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('blogApp.paiement.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'PaiementCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-paiement"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('blogApp.paiement.home.createLabel')"> Create a new Paiement </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && paiements && paiements.length === 0">
      <span v-text="$t('blogApp.paiement.home.notFound')">No paiements found</span>
    </div>
    <div class="table-responsive" v-if="paiements && paiements.length > 0">
      <table class="table table-striped" aria-describedby="paiements">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('type')">
              <span v-text="$t('blogApp.paiement.type')">Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'type'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('quantite')">
              <span v-text="$t('blogApp.paiement.quantite')">Quantite</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'quantite'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="paiement in paiements" :key="paiement.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'PaiementView', params: { paiementId: paiement.id } }">{{ paiement.id }}</router-link>
            </td>
            <td v-text="$t('blogApp.TypePaiement.' + paiement.type)">{{ paiement.type }}</td>
            <td>{{ paiement.quantite }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'PaiementView', params: { paiementId: paiement.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'PaiementEdit', params: { paiementId: paiement.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(paiement)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="blogApp.paiement.delete.question" data-cy="paiementDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-paiement-heading" v-text="$t('blogApp.paiement.delete.question', { id: removeId })">
          Are you sure you want to delete this Paiement?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-paiement"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removePaiement()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="paiements && paiements.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./paiement.component.ts"></script>
