<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.restaurant.home.createOrEditLabel"
          data-cy="RestaurantCreateUpdateHeading"
          v-text="$t('blogApp.restaurant.home.createOrEditLabel')"
        >
          Create or edit a Restaurant
        </h2>
        <div>
          <div class="form-group" v-if="restaurant.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="restaurant.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.restaurant.nom')" for="restaurant-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="restaurant-nom"
              data-cy="nom"
              :class="{ valid: !$v.restaurant.nom.$invalid, invalid: $v.restaurant.nom.$invalid }"
              v-model="$v.restaurant.nom.$model"
              required
            />
            <div v-if="$v.restaurant.nom.$anyDirty && $v.restaurant.nom.$invalid">
              <small class="form-text text-danger" v-if="!$v.restaurant.nom.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.restaurant.description')" for="restaurant-description">Description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              id="restaurant-description"
              data-cy="description"
              :class="{ valid: !$v.restaurant.description.$invalid, invalid: $v.restaurant.description.$invalid }"
              v-model="$v.restaurant.description.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.restaurant.localisation')" for="restaurant-localisation"
              >Localisation</label
            >
            <input
              type="text"
              class="form-control"
              name="localisation"
              id="restaurant-localisation"
              data-cy="localisation"
              :class="{ valid: !$v.restaurant.localisation.$invalid, invalid: $v.restaurant.localisation.$invalid }"
              v-model="$v.restaurant.localisation.$model"
              required
            />
            <div v-if="$v.restaurant.localisation.$anyDirty && $v.restaurant.localisation.$invalid">
              <small class="form-text text-danger" v-if="!$v.restaurant.localisation.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.restaurant.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./restaurant-update.component.ts"></script>
