<template>
  <div>
    <h2 id="page-heading" data-cy="CooperativeLocalHeading">
      <span v-text="$t('blogApp.cooperativeLocal.home.title')" id="cooperative-local-heading">Cooperative Locals</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('blogApp.cooperativeLocal.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'CooperativeLocalCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-cooperative-local"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('blogApp.cooperativeLocal.home.createLabel')"> Create a new Cooperative Local </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && cooperativeLocals && cooperativeLocals.length === 0">
      <span v-text="$t('blogApp.cooperativeLocal.home.notFound')">No cooperativeLocals found</span>
    </div>
    <div class="table-responsive" v-if="cooperativeLocals && cooperativeLocals.length > 0">
      <table class="table table-striped" aria-describedby="cooperativeLocals">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('nom')">
              <span v-text="$t('blogApp.cooperativeLocal.nom')">Nom</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('localisation')">
              <span v-text="$t('blogApp.cooperativeLocal.localisation')">Localisation</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'localisation'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('restaurants.id')">
              <span v-text="$t('blogApp.cooperativeLocal.restaurants')">Restaurants</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'restaurants.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="cooperativeLocal in cooperativeLocals" :key="cooperativeLocal.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'CooperativeLocalView', params: { cooperativeLocalId: cooperativeLocal.id } }">{{
                cooperativeLocal.id
              }}</router-link>
            </td>
            <td>{{ cooperativeLocal.nom }}</td>
            <td>{{ cooperativeLocal.localisation }}</td>
            <td>
              <div v-if="cooperativeLocal.restaurants">
                <router-link :to="{ name: 'RestaurantView', params: { restaurantId: cooperativeLocal.restaurants.id } }">{{
                  cooperativeLocal.restaurants.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'CooperativeLocalView', params: { cooperativeLocalId: cooperativeLocal.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link
                  :to="{ name: 'CooperativeLocalEdit', params: { cooperativeLocalId: cooperativeLocal.id } }"
                  custom
                  v-slot="{ navigate }"
                >
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(cooperativeLocal)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="blogApp.cooperativeLocal.delete.question"
          data-cy="cooperativeLocalDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-cooperativeLocal-heading" v-text="$t('blogApp.cooperativeLocal.delete.question', { id: removeId })">
          Are you sure you want to delete this Cooperative Local?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-cooperativeLocal"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeCooperativeLocal()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="cooperativeLocals && cooperativeLocals.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./cooperative-local.component.ts"></script>
