<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.cooperativeLocal.home.createOrEditLabel"
          data-cy="CooperativeLocalCreateUpdateHeading"
          v-text="$t('blogApp.cooperativeLocal.home.createOrEditLabel')"
        >
          Create or edit a CooperativeLocal
        </h2>
        <div>
          <div class="form-group" v-if="cooperativeLocal.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="cooperativeLocal.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.cooperativeLocal.nom')" for="cooperative-local-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="cooperative-local-nom"
              data-cy="nom"
              :class="{ valid: !$v.cooperativeLocal.nom.$invalid, invalid: $v.cooperativeLocal.nom.$invalid }"
              v-model="$v.cooperativeLocal.nom.$model"
              required
            />
            <div v-if="$v.cooperativeLocal.nom.$anyDirty && $v.cooperativeLocal.nom.$invalid">
              <small class="form-text text-danger" v-if="!$v.cooperativeLocal.nom.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.cooperativeLocal.localisation')" for="cooperative-local-localisation"
              >Localisation</label
            >
            <input
              type="text"
              class="form-control"
              name="localisation"
              id="cooperative-local-localisation"
              data-cy="localisation"
              :class="{ valid: !$v.cooperativeLocal.localisation.$invalid, invalid: $v.cooperativeLocal.localisation.$invalid }"
              v-model="$v.cooperativeLocal.localisation.$model"
              required
            />
            <div v-if="$v.cooperativeLocal.localisation.$anyDirty && $v.cooperativeLocal.localisation.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.cooperativeLocal.localisation.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.cooperativeLocal.restaurants')" for="cooperative-local-restaurants"
              >Restaurants</label
            >
            <select
              class="form-control"
              id="cooperative-local-restaurants"
              data-cy="restaurants"
              name="restaurants"
              v-model="cooperativeLocal.restaurants"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  cooperativeLocal.restaurants && restaurantOption.id === cooperativeLocal.restaurants.id
                    ? cooperativeLocal.restaurants
                    : restaurantOption
                "
                v-for="restaurantOption in restaurants"
                :key="restaurantOption.id"
              >
                {{ restaurantOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.cooperativeLocal.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./cooperative-local-update.component.ts"></script>
