<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="cooperativeLocal">
        <h2 class="jh-entity-heading" data-cy="cooperativeLocalDetailsHeading">
          <span v-text="$t('blogApp.cooperativeLocal.detail.title')">CooperativeLocal</span> {{ cooperativeLocal.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.cooperativeLocal.nom')">Nom</span>
          </dt>
          <dd>
            <span>{{ cooperativeLocal.nom }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.cooperativeLocal.localisation')">Localisation</span>
          </dt>
          <dd>
            <span>{{ cooperativeLocal.localisation }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.cooperativeLocal.restaurants')">Restaurants</span>
          </dt>
          <dd>
            <div v-if="cooperativeLocal.restaurants">
              <router-link :to="{ name: 'RestaurantView', params: { restaurantId: cooperativeLocal.restaurants.id } }">{{
                cooperativeLocal.restaurants.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="cooperativeLocal.id"
          :to="{ name: 'CooperativeLocalEdit', params: { cooperativeLocalId: cooperativeLocal.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./cooperative-local-details.component.ts"></script>
