<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="panier">
        <h2 class="jh-entity-heading" data-cy="panierDetailsHeading">
          <span v-text="$t('blogApp.panier.detail.title')">Panier</span> {{ panier.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.panier.heureLivraison')">Heure Livraison</span>
          </dt>
          <dd>
            <span v-if="panier.heureLivraison">{{ $d(Date.parse(panier.heureLivraison), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.panier.paiement')">Paiement</span>
          </dt>
          <dd>
            <div v-if="panier.paiement">
              <router-link :to="{ name: 'PaiementView', params: { paiementId: panier.paiement.id } }">{{ panier.paiement.id }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('blogApp.panier.restaurant')">Restaurant</span>
          </dt>
          <dd>
            <div v-if="panier.restaurant">
              <router-link :to="{ name: 'RestaurantView', params: { restaurantId: panier.restaurant.id } }">{{
                panier.restaurant.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('blogApp.panier.client')">Client</span>
          </dt>
          <dd>
            <div v-if="panier.client">
              <router-link :to="{ name: 'MembreView', params: { membreId: panier.client.id } }">{{ panier.client.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="panier.id" :to="{ name: 'PanierEdit', params: { panierId: panier.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./panier-details.component.ts"></script>
