<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.panier.home.createOrEditLabel"
          data-cy="PanierCreateUpdateHeading"
          v-text="$t('blogApp.panier.home.createOrEditLabel')"
        >
          Create or edit a Panier
        </h2>
        <div>
          <div class="form-group" v-if="panier.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="panier.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.panier.heureLivraison')" for="panier-heureLivraison"
              >Heure Livraison</label
            >
            <div class="d-flex">
              <input
                id="panier-heureLivraison"
                data-cy="heureLivraison"
                type="datetime-local"
                class="form-control"
                name="heureLivraison"
                :class="{ valid: !$v.panier.heureLivraison.$invalid, invalid: $v.panier.heureLivraison.$invalid }"
                :value="convertDateTimeFromServer($v.panier.heureLivraison.$model)"
                @change="updateInstantField('heureLivraison', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.panier.paiement')" for="panier-paiement">Paiement</label>
            <select class="form-control" id="panier-paiement" data-cy="paiement" name="paiement" v-model="panier.paiement">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="panier.paiement && paiementOption.id === panier.paiement.id ? panier.paiement : paiementOption"
                v-for="paiementOption in paiements"
                :key="paiementOption.id"
              >
                {{ paiementOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.panier.restaurant')" for="panier-restaurant">Restaurant</label>
            <select class="form-control" id="panier-restaurant" data-cy="restaurant" name="restaurant" v-model="panier.restaurant">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="panier.restaurant && restaurantOption.id === panier.restaurant.id ? panier.restaurant : restaurantOption"
                v-for="restaurantOption in restaurants"
                :key="restaurantOption.id"
              >
                {{ restaurantOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.panier.client')" for="panier-client">Client</label>
            <select class="form-control" id="panier-client" data-cy="client" name="client" v-model="panier.client">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="panier.client && membreOption.id === panier.client.id ? panier.client : membreOption"
                v-for="membreOption in membres"
                :key="membreOption.id"
              >
                {{ membreOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.panier.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./panier-update.component.ts"></script>
