<template>
  <div>
    <h2 id="page-heading" data-cy="PanierHeading">
      <span v-text="$t('blogApp.panier.home.title')" id="panier-heading">Paniers</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('blogApp.panier.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'PanierCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-panier"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('blogApp.panier.home.createLabel')"> Create a new Panier </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && paniers && paniers.length === 0">
      <span v-text="$t('blogApp.panier.home.notFound')">No paniers found</span>
    </div>
    <div class="table-responsive" v-if="paniers && paniers.length > 0">
      <table class="table table-striped" aria-describedby="paniers">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('heureLivraison')">
              <span v-text="$t('blogApp.panier.heureLivraison')">Heure Livraison</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'heureLivraison'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('paiement.id')">
              <span v-text="$t('blogApp.panier.paiement')">Paiement</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'paiement.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('restaurant.id')">
              <span v-text="$t('blogApp.panier.restaurant')">Restaurant</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'restaurant.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('client.id')">
              <span v-text="$t('blogApp.panier.client')">Client</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'client.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="panier in paniers" :key="panier.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'PanierView', params: { panierId: panier.id } }">{{ panier.id }}</router-link>
            </td>
            <td>{{ panier.heureLivraison ? $d(Date.parse(panier.heureLivraison), 'short') : '' }}</td>
            <td>
              <div v-if="panier.paiement">
                <router-link :to="{ name: 'PaiementView', params: { paiementId: panier.paiement.id } }">{{
                  panier.paiement.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="panier.restaurant">
                <router-link :to="{ name: 'RestaurantView', params: { restaurantId: panier.restaurant.id } }">{{
                  panier.restaurant.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="panier.client">
                <router-link :to="{ name: 'MembreView', params: { membreId: panier.client.id } }">{{ panier.client.id }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'PanierView', params: { panierId: panier.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'PanierEdit', params: { panierId: panier.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(panier)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="blogApp.panier.delete.question" data-cy="panierDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-panier-heading" v-text="$t('blogApp.panier.delete.question', { id: removeId })">
          Are you sure you want to delete this Panier?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-panier"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removePanier()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="paniers && paniers.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./panier.component.ts"></script>
